table {
    text-align: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 10px 10px 10px #628ca6;
}

table thead {
    
    font-size: larger;
    font-weight: bolder;
}

table tfoot {
    font-size: xx-small;
}

th, td {
    padding: 10px;
}

table, th, td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

tr {
    background-color: #e7ffed;
}

tr:nth-child(even){
    background-color: #e7f0ed;

}

.subTitle {
    background-color: #628ca6;
    color: white;
}

thead tr, tfoot tr {
    background-color: #7fb9c2;
}
